Repository TOSIT-IO/tdp-collection, pull requests merged in 2022-11, with the labels that each got.

#547 spark2: add hbase_client check before hbase-spark-connector install
  roles/spark/client/tasks/config.yml
  roles/spark/client/tasks/install.yml
Labels: hbase, spark

#557 hdfs: add resources allocation management
  roles/hadoop/common/templates/hadoop-env.sh.j2
  tdp_vars_defaults/hdfs/hdfs.yml
Labels: hdfs

#566 hadoop: fix vars dependecies after hdfs resources allocation
  roles/hadoop/common/templates/hadoop-env.sh.j2
  roles/hdfs/common/templates/hadoop-env.sh.j2
  roles/yarn/common/templates/hadoop-env.sh.j2
Labels: hadoop, hdfs, yarn

#568 feat: add missing zkfc port to hdfs_site
  tdp_vars_defaults/hdfs/hdfs.yml
  tdp_vars_defaults/tdp-cluster/tdp-cluster.yml
Labels: enhancement, hdfs

#569 feat: add missing yarn + mapred ports to tdp_vars
  tdp_vars_defaults/hadoop/hadoop.yml
  tdp_vars_defaults/tdp-cluster/tdp-cluster.yml
  tdp_vars_defaults/yarn/yarn.yml
Labels: enhancement, yarn
